/* #root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem; */
/* text-align: center; */
/* border: 2px solid red; */
/* } */

:root {
  --my-color: #fff;
  --my-text: #000;
  /* or any other variables/style */
}
[data-theme='dark'] {
  --my-color: #000;
  --my-text: #fff;
}
[data-theme='pink'] {
  --my-color: #ffabc8;
}

body {
  /* background-color: var(--my-color);
  color: var(--my-text); */
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}
