/* #root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem; */
/* text-align: center; */
/* border: 2px solid red; */
/* } */

.dark-mode {
  background-color: rgb(28, 31, 35);
  color: white;
}
